{% extends 'dogs/base.html' %}
{% block content %}

<form method="POST" class="row">
  <div class="col-6">
    <div class="card">
      <div class="card-header">
        {% if object %}
        Вы уверены, что хотите удалить отзыв?
        {% endif %}
      </div>
      <div class="card-body">
        <p class="card-text">{{ object.title|title }}</p>
        <p class="card-text">{{ object.dog.name|title }}</p>
      </div>
      <div class="card-footer">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-outline-danger float-right">
          {% if object %}
          Удалить          
          {% endif %}
        </button>
        <a href="{% url 'reviews:reviews_list' %}" class="btn btn-outline-primary">Назад</a>
      </div>
    </div>
  </div>
</form>
{% endblock %}
