{% extends 'dogs/base.html' %}
{% load my_tags %}

{% block content %}
<form method="post" enctype="multipart/form-data" class="row">
  <div class="col-6">
    <div class="card">
      <div class="card-header">
        {% if object %}
        <p>Обновите данные собаки</p>
        {% else %}
        <p>Введите данные собаки</p>
        {% endif %}
      </div>
      <img class="card-image-top mx-auto d-block"
        src="{{ object.photo|dogs_media }}" width="500" height="400"
        alt="Card image cap">
      <div class="card-body">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" class="btn btn-outline-success"
            value="{% if object %}Сохранить{% else %}Добавить{% endif %}">
        <a href="{% url 'dogs:dog_toggle_activity' object.pk %}"
           class="btn btn-outline-warning float-right">
            {% if object.is_active %}
            Деактивировать
            {% else %}
            Активировать
            {% endif %}
        </a>
      </div> 
    </div>
    <div class="card-footer">
      <a href={% url 'dogs:dogs_list' %} class="btn btn-outline-primary"><< Назад</a>
      {% if object and user.is_superuser %}
      <a href="{% url 'dogs:dog_delete' object.pk %}" class="btn btn-outline-danger float-right">Удалить</a>
      {% endif %}
    </div>
  </div>
  <div class="col-6">
    <div class="card">
      <div class="card-body">
        {{ formset.management_form }}
        {% for form in formset.forms %}
        {{ form.as_p }}
        {% if not forloop.last %}
        <br>
        {% endif %}
        {% endfor %}
      </div>
    </div>
  </div>
</form>

{% endblock %}
